ASPNETCORE_ENVIRONMENT=Development
NZFURS__AUTH__Azure__ActiveDirectory__ClientId=01234567-89ab-cdef-0123-456789abcdef
NZFURS__AUTH__Azure__ActiveDirectory__ClientSecrets__0=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopq=
NZFURS__AUTH__Azure__ActiveDirectory__ClientSecrets__1=rstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWX=