@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
<h2 class="text-2xl m-6 text-nz-green-light text-center">@ViewData["Title"]</h2>
<div class="container mx-auto h-full flex justify-center items-center">
    <p>
        @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT")
    </p>
</div>