@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StsServerIdentity</title>
    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-free-5.4.1-web/css/all.min.css" asp-append-version="true"  />
</head>
<body class="bg-grey-lighter h-screen font-sans">
    <div>
        <nav >
            <a asp-controller="Home" asp-action="Index" >
                <em>ID4 Identity</em>
            </a>
            <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
                <span ></span>
            </button>
            <div >
                <ul >
                    <li >
                        <a asp-controller="Home" asp-action="Index" >@SharedLocalizer.GetLocalizedHtmlString("HOME")</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </div>

    <div >
        @RenderBody()
       
    </div>

    <footer>
        <hr />
        <nav >
            <p>&copy; 2018 - StsServerIdentity</p>

            @await Html.PartialAsync("_SelectLanguagePartial")
        </nav>
    </footer>

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
