@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NZFurs Account</title>
    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-free-5.4.1-web/css/all.min.css" asp-append-version="true"  />
</head>
<body class="bg-green-darkest h-screen font-sans">
    <div>
        <nav class="flex items-center justify-between flex-wrap bg-white p-6 border-yellow border-b-8">
            <div class="flex items-center flex-no-shrink text-green-darkest hover:text-nz-green-light mr-6">
                <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 -200 500 500" xmlns="http://www.w3.org/2000/svg"><path d="m 330.39636,270.60977 c -5.27816,-0.88202 -18.99539,-4.12935 -30.48327,-7.21625 -47.00074,-12.62984 -60.90373,-13.09454 -98.22549,-3.28333 -34.93225,9.18305 -39.52586,10.08043 -54.75795,10.6967 -23.96078,0.9693 -36.10796,-3.56288 -51.971074,-19.39094 -14.978141,-14.94508 -21.275147,-30.68534 -21.235583,-53.08032 0.05119,-15.60344 2.881536,-27.2481 10.555626,-43.0634 7.409033,-15.26906 16.646141,-27.22945 32.351261,-41.89004 16.23236,-15.152184 26.65264,-27.517926 45.54158,-54.043816 27.4827,-38.593429 39.08797,-50.0637867 58.45565,-57.7769198 7.03587,-2.8020624 8.79245,-3.0201818 23.96347,-2.9756729 14.64324,0.040778 17.32383,0.3656146 25.40301,3.0560144 13.29436,4.4274599 22.14017,10.1862813 32.59532,21.2209203 9.2555,9.768609 10.86658,11.977654 30.39573,41.683367 14.36072,21.844131 22.95423,32.267622 38.72772,46.974977 31.35132,29.23226 45.84958,57.09575 45.73627,87.89727 -0.072,19.01734 -5.87551,34.75829 -17.59627,47.70976 -17.60789,19.45723 -42.72381,27.94861 -69.456,23.48168 z M 57.172206,80.041065 C 38.267134,73.571924 22.709424,58.817802 13.068441,38.21454 4.2657521,19.402825 2.2937408,-3.4692611 7.9635443,-20.977553 14.942585,-42.526693 31.051234,-55.130681 51.61311,-55.130681 c 49.80185,0 86.05548,75.194284 56.88379,117.983259 C 96.893106,79.872834 76.570605,86.678871 57.172206,80.041065 Z m 353.949664,0.986396 c -23.07936,-7.31828 -35.9799,-29.413066 -34.10125,-58.406551 1.67468,-25.8472378 18.7207,-54.87725 39.59171,-67.426231 12.77743,-7.68268 19.34609,-9.694254 31.76779,-9.729219 10.40032,-0.03124 11.89236,0.253778 18.93943,3.591682 17.9598,8.507005 27.9146,26.446069 27.9146,50.30186134 0,12.72137666 -2.4761,23.76078766 -7.99824,35.65575766 -10.98587,23.664483 -29.34304,40.436079 -50.20538,45.87015 -7.90687,2.059381 -19.65938,2.124192 -25.90866,0.142377 z m -106.79928,-99.23861 c -17.70698,-6.036026 -30.58019,-22.281585 -36.15681,-45.629993 -2.00741,-8.403238 -2.28262,-12.247224 -1.80126,-25.160429 0.67683,-18.161089 3.178,-28.619369 10.4352,-43.640719 11.77671,-24.3748 30.95057,-40.67554 52.29738,-44.46061 25.71942,-4.56047 49.65156,14.45106 57.83234,45.9412 2.97897,11.46767 3.20455,32.094621 0.49211,44.982754 -4.42034,20.997332 -12.59288,36.33432 -27.08481,50.826855 -18.18787,18.188331 -36.50149,23.792543 -56.01363,17.140942 z m -141.58614,-1.157838 c -22.78454,-5.845236 -41.89342,-27.153092 -51.00888,-56.878413 -2.76458,-9.016989 -3.05185,-11.647089 -3.11475,-28.56054 -0.0616,-16.50958 0.2307,-19.5878 2.57648,-27.05679 6.01485,-19.15512 16.64084,-33.01628 30.5643,-39.871 6.90148,-3.39733 8.16751,-3.63627 19.26522,-3.63627 11.31861,0 12.2815,0.19226 20.42376,4.08093 20.93729,9.99888 37.61458,33.52697 43.29054,61.07266 2.59357,12.586893 2.37814,33.218003 -0.46652,44.46356 -7.02034,27.775001 -25.42922,46.131737 -47.50006,47.365318 -4.77728,0.26714 -10.81782,-0.15487 -14.03261,-0.979455 z"/></svg>
                <a asp-controller="Home" asp-action="Index" class="no-underline block mt-4 lg:inline-block lg:mt-0 text-xl text-green-darkest hover:text-green-darkest mr-4">
                    <em>NZFurs</em>
                </a>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a asp-controller="Home" asp-action="Index" class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0">@SharedLocalizer.GetLocalizedHtmlString("HOME")</a>
                    <a asp-controller="Home" asp-action="Privacy" class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0">Privacy</a>
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>

    </div>

    <div class="text-white">
        @RenderBody()
    </div>

    <footer>
    
    </footer>

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
