@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StsServerIdentity</title>
    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-free-5.4.1-web/css/all.min.css" asp-append-version="true"  />
</head>
<body class="bg-green-darkest h-screen font-sans">
    <div>
        <nav class="flex items-center justify-between flex-wrap bg-white p-6 border-yellow border-b-8">
            <div class="flex items-center flex-no-shrink text-green-darkest hover:text-nz-green-light mr-6">
                <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
                <a asp-controller="Home" asp-action="Index" class="no-underline block mt-4 lg:inline-block lg:mt-0 text-xl text-green-darkest hover:text-green-darkest mr-4">
                    <em>NZFurs</em>
                </a>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a asp-controller="Home" asp-action="Index" class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0">@SharedLocalizer.GetLocalizedHtmlString("HOME")</a>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </div>

    <div class="text-white">
        @RenderBody()
    </div>

    <footer>
    
    </footer>

    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
