@using Microsoft.AspNetCore.Identity
@using NZFurs.Auth.Models
@using NZFurs.Auth.Resources
@inject LocService SharedLocalizer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
    <button type="submit" class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-green-darkest hover:border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0">@SharedLocalizer.GetLocalizedHtmlString("LOGOUT")</button>
}
else
{
    <a class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0" asp-area="" asp-controller="Account" asp-action="Register">@SharedLocalizer.GetLocalizedHtmlString("REGISTER")</a>
    <a class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-green-darkest border-green-darkest hover:border-transparent hover:text-green-darkest hover:bg-nz-green-light mt-4 lg:mt-0" asp-area="" asp-controller="Account" asp-action="Login">@SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</a>
}
