@using Microsoft.Extensions.Options
@using NZFurs.Auth.Models
@{
    ViewData["Title"] = "StsServerIdentity Home";
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-4xl m-6 text-nz-green-light text-center">Hi @User.Identity.Name</h1>
}
else
{
    <br />
}

