@{
    ViewData["Title"] = "NZFurs Login - Privacy Policy";
}

<p>
    We collect personal information from you, including information about your:
</p>
<ul>
    <li>name</li>
    <li>contact information</li>
    <li>computer or network</li>
    <li>interactions with us</li>
</ul>

<p>
    We collect your personal information in order to:
</p>
<ul>
    <li>authenticate you against the NZFurs database of registered users</li>
    <li>monitor your usage of the site for the purpose of monitoring the stability, performance and security of this platform</li>
</ul>

<p>
    Besides our staff, we share this information with:
</p>
<ul>
    <li>registered third-party in order to authenticate you with that system. This will not be done without your explicit consent, and you can choose exactly how much information you wish to share in each instance.</li>
</ul>

<p>
    You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us <a target="_blank" href="https://mailhide.io/e/krbp1">via email</a>.
</p>